node-red/flows.json
[{"id":"7e39575526b28643","type":"tab","label":"Lights","disabled":false,"info":"","env":[]},{"id":"3ba5efed4e5a0f31","type":"tab","label":"Templates","disabled":false,"info":"","env":[]},{"id":"d2502322.8d81e","type":"server","name":"Home Assistant","version":4,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":"30","areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m"},{"id":"7d4bb67215c5a44a","type":"position-config","name":"Ginnheim","isValide":"true","longitude":"0","latitude":"0","angleType":"deg","timeZoneOffset":"99","timeZoneDST":"0","stateTimeFormat":"3","stateDateFormat":"12","contextStore":""},{"id":"a52a998cf35bb2a1","type":"mqtt-broker","name":"","broker":"mqtt://192.168.178.20","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"fa313da56b7bf39a","type":"debug","z":"7e39575526b28643","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":550,"y":140,"wires":[]},{"id":"757dfba2f2b4faef","type":"server-state-changed","z":"7e39575526b28643","name":"","server":"d2502322.8d81e","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"binary_sensor.kitchen_motionsensor_occupancy","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":270,"y":300,"wires":[["fa313da56b7bf39a","df6b83ef3b5685a8"]]},{"id":"df6b83ef3b5685a8","type":"switch","z":"7e39575526b28643","name":"Motion detected","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":660,"y":300,"wires":[["b7363086d8797341","7e6fd73572a1799b"],["8913a9dddef2fcc8"]]},{"id":"fa3373ab4bc1ef04","type":"api-call-service","z":"7e39575526b28643","name":"Kitchen light on","server":"d2502322.8d81e","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":["kuche"],"deviceId":["0cb1f28323f23c3a81c01854adede6bf"],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1220,"y":300,"wires":[[]]},{"id":"b4e5e2a3b55a0cd8","type":"api-call-service","z":"7e39575526b28643","name":"Kitchen light off","server":"d2502322.8d81e","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":["kuche"],"deviceId":["dbe223d9e549a313c1965d6bc891fd10","7ea5b4b59d708d87669e9c71821bd7de"],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1220,"y":400,"wires":[[]]},{"id":"b7363086d8797341","type":"change","z":"7e39575526b28643","name":"stop timer","rules":[{"t":"set","p":"payload","pt":"msg","to":"STOP","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":900,"y":320,"wires":[["c8798a0b4dc53cf5","a87d8805196936fc"]]},{"id":"6cc6062dc359a62a","type":"debug","z":"7e39575526b28643","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1190,"y":180,"wires":[]},{"id":"7e6fd73572a1799b","type":"within-time-switch","z":"7e39575526b28643","name":"","nameInt":"","positionConfig":"7d4bb67215c5a44a","startTime":"sunsetStart","startTimeType":"pdsTime","startOffset":"-90","startOffsetType":"num","startOffsetMultiplier":60000,"endTime":"sunriseEnd","endTimeType":"pdsTime","endOffset":0,"endOffsetType":"none","endOffsetMultiplier":60000,"timeRestrictions":0,"timeRestrictionsType":"none","timeDays":"*","timeOnlyOddDays":false,"timeOnlyEvenDays":false,"timeOnlyOddWeeks":false,"timeOnlyEvenWeeks":false,"timeMonths":"*","timedatestart":"","timedateend":"","propertyStart":"","propertyStartType":"none","propertyStartCompare":"true","propertyStartThreshold":"","propertyStartThresholdType":"num","startTimeAlt":"","startTimeAltType":"entered","startOffsetAlt":0,"startOffsetAltType":"none","startOffsetAltMultiplier":60000,"propertyEnd":"","propertyEndType":"none","propertyEndCompare":"true","propertyEndThreshold":"","propertyEndThresholdType":"num","endTimeAlt":"","endTimeAltType":"entered","endOffsetAlt":0,"endOffsetAltType":"none","endOffsetAltMultiplier":60000,"withinTimeValue":"true","withinTimeValueType":"msgInput","outOfTimeValue":"false","outOfTimeValueType":"msgInput","tsCompare":"0","x":940,"y":240,"wires":[["fa3373ab4bc1ef04","b8b3a7d63ac36fa7"],["6cc6062dc359a62a"]]},{"id":"2e0aa69ed4a5bdf0","type":"comment","z":"7e39575526b28643","name":"Light Remotes","info":"Lights being turned on or off based on the switches payload","x":110,"y":700,"wires":[]},{"id":"be771e4b4bc28af8","type":"server-state-changed","z":"7e39575526b28643","name":"","server":"d2502322.8d81e","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.office_remote_action","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":210,"y":780,"wires":[["0525f59309e4c6a5"]]},{"id":"cb51cc880bd02b80","type":"comment","z":"7e39575526b28643","name":"Light Switches","info":"","x":110,"y":1780,"wires":[]},{"id":"2949e64c762e3349","type":"server-state-changed","z":"7e39575526b28643","name":"","server":"d2502322.8d81e","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.bedroom_switch_action","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":220,"y":1840,"wires":[["a8fb307613128885"]]},{"id":"9b3f66bd387f7286","type":"server-state-changed","z":"7e39575526b28643","name":"","server":"d2502322.8d81e","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.hallway_switch_action","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":210,"y":2000,"wires":[["534b6d8064b2993f"]]},{"id":"30aa1a6ac50ad8f0","type":"api-call-service","z":"7e39575526b28643","name":"Turn off everything","server":"d2502322.8d81e","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_off","areaId":[],"deviceId":["3a0e43873c72cdc42deab4a9fd15fb15","0cb1f28323f23c3a81c01854adede6bf","84dea28dc729721c3de5766791a25430","d22ebd9937cb2bd7848750769ef7fa4b","f6ea573120cf7c6967712c210c060b61","42c9ba02dc90be4b91151ebef53d61af"],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":690,"y":2180,"wires":[[]]},{"id":"534b6d8064b2993f","type":"switch","z":"7e39575526b28643","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":490,"y":2000,"wires":[["57ebdb02009e4fcf","801969195b8cc84e"],["30aa1a6ac50ad8f0"]]},{"id":"b5fc58484fca2787","type":"comment","z":"7e39575526b28643","name":"Motion controlled kitchen lights","info":"","x":170,"y":100,"wires":[]},{"id":"0525f59309e4c6a5","type":"switch","z":"7e39575526b28643","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"arrow_right_click","vt":"str"},{"t":"eq","v":"arrow_left_click","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":490,"y":800,"wires":[["7e3bdc997b88fef6"],["7e3bdc997b88fef6","eea35577bc035165"],["50debd377ae052db"],["2cad0b9cdea1a342"]]},{"id":"7e3bdc997b88fef6","type":"api-call-service","z":"7e39575526b28643","name":"Turn on office","server":"d2502322.8d81e","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_on","areaId":[],"deviceId":["f6ea573120cf7c6967712c210c060b61"],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":700,"y":780,"wires":[[]]},{"id":"eea35577bc035165","type":"api-call-service","z":"7e39575526b28643","name":"Turn off other lights","server":"d2502322.8d81e","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_off","areaId":[],"deviceId":["3a0e43873c72cdc42deab4a9fd15fb15","0cb1f28323f23c3a81c01854adede6bf","84dea28dc729721c3de5766791a25430"],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":710,"y":840,"wires":[[]]},{"id":"57ebdb02009e4fcf","type":"api-call-service","z":"7e39575526b28643","name":"Turn off everything but bedroom","server":"d2502322.8d81e","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_off","areaId":[],"deviceId":["0cb1f28323f23c3a81c01854adede6bf","84dea28dc729721c3de5766791a25430","d22ebd9937cb2bd7848750769ef7fa4b","f6ea573120cf7c6967712c210c060b61","42c9ba02dc90be4b91151ebef53d61af"],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":730,"y":2000,"wires":[[]]},{"id":"801969195b8cc84e","type":"api-call-service","z":"7e39575526b28643","name":"Turn on bedroom","server":"d2502322.8d81e","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_on","areaId":[],"deviceId":["2b397236d67657855441fe18faebfc8a"],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":690,"y":2060,"wires":[[]]},{"id":"a7c3d339d8dd4332","type":"api-call-service","z":"7e39575526b28643","name":"Turn off bedroom","server":"d2502322.8d81e","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_off","areaId":[],"deviceId":["3a0e43873c72cdc42deab4a9fd15fb15"],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":930,"y":2120,"wires":[[]]},{"id":"3ad70e915d53b54f","type":"debug","z":"7e39575526b28643","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"data.attributes.brightness","statusType":"msg","x":1730,"y":1840,"wires":[]},{"id":"287c2b094516fda5","type":"inject","z":"7e39575526b28643","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"asdf","payloadType":"env","x":1310,"y":1820,"wires":[["4faadc3c38209783"]]},{"id":"4faadc3c38209783","type":"api-current-state","z":"7e39575526b28643","name":"","server":"d2502322.8d81e","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.office_lights","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1530,"y":1720,"wires":[["3ad70e915d53b54f"]]},{"id":"2cad0b9cdea1a342","type":"api-call-service","z":"7e39575526b28643","name":"Turn off office","server":"d2502322.8d81e","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_off","areaId":[],"deviceId":["f6ea573120cf7c6967712c210c060b61"],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":700,"y":960,"wires":[[]]},{"id":"8063d441dc4598bb","type":"server-state-changed","z":"7e39575526b28643","name":"","server":"d2502322.8d81e","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.livingroom_remote_action","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":220,"y":1040,"wires":[["bc62a0ec20af78e0"]]},{"id":"bc62a0ec20af78e0","type":"switch","z":"7e39575526b28643","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"arrow_left_click","vt":"str"},{"t":"eq","v":"arrow_right_click","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":490,"y":1060,"wires":[["261f2653d156d146"],["388c2c72b7695a62","261f2653d156d146"],["1ef52fe5abfd5577"],["8813d00fc3ab58a3"]]},{"id":"261f2653d156d146","type":"api-call-service","z":"7e39575526b28643","name":"Turn on livingroom","server":"d2502322.8d81e","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_on","areaId":[],"deviceId":["84dea28dc729721c3de5766791a25430"],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":710,"y":1040,"wires":[[]]},{"id":"388c2c72b7695a62","type":"api-call-service","z":"7e39575526b28643","name":"Turn off other lights","server":"d2502322.8d81e","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_off","areaId":[],"deviceId":["3a0e43873c72cdc42deab4a9fd15fb15","0cb1f28323f23c3a81c01854adede6bf","f6ea573120cf7c6967712c210c060b61"],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":710,"y":1100,"wires":[[]]},{"id":"8813d00fc3ab58a3","type":"api-call-service","z":"7e39575526b28643","name":"Turn off livingroom","server":"d2502322.8d81e","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_off","areaId":[],"deviceId":["84dea28dc729721c3de5766791a25430"],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":710,"y":1220,"wires":[[]]},{"id":"1ef52fe5abfd5577","type":"api-call-service","z":"7e39575526b28643","name":"toggle office lights","server":"d2502322.8d81e","version":5,"debugenabled":false,"domain":"light","service":"toggle","areaId":[],"deviceId":["f6ea573120cf7c6967712c210c060b61"],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":710,"y":1160,"wires":[[]]},{"id":"50debd377ae052db","type":"api-call-service","z":"7e39575526b28643","name":"toggle livingroom lights","server":"d2502322.8d81e","version":5,"debugenabled":false,"domain":"light","service":"toggle","areaId":[],"deviceId":["84dea28dc729721c3de5766791a25430"],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":720,"y":900,"wires":[[]]},{"id":"fc01ab3ce9c234c7","type":"server-state-changed","z":"7e39575526b28643","name":"","server":"d2502322.8d81e","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.kitchen_remote_action","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":210,"y":1300,"wires":[["a124e690364a8967","2b99b6608ca640b8"]]},{"id":"a124e690364a8967","type":"switch","z":"7e39575526b28643","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"toggle","vt":"str"},{"t":"eq","v":"brightness_up_click","vt":"str"},{"t":"eq","v":"brightness_down_click","vt":"str"},{"t":"eq","v":"arrow_left_click","vt":"str"},{"t":"eq","v":"arrow_right_click","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":490,"y":1320,"wires":[["b32ba367284265bc"],["f75d4f0a5527fb28"],["1973340ae2d43a15"],[],[]]},{"id":"f75d4f0a5527fb28","type":"api-call-service","z":"7e39575526b28643","name":"Turn on kitchen","server":"d2502322.8d81e","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_on","areaId":[],"deviceId":["0cb1f28323f23c3a81c01854adede6bf"],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":980,"y":1340,"wires":[[]]},{"id":"1973340ae2d43a15","type":"api-call-service","z":"7e39575526b28643","name":"Turn off kitchen","server":"d2502322.8d81e","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_off","areaId":[],"deviceId":["0cb1f28323f23c3a81c01854adede6bf"],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":980,"y":1380,"wires":[[]]},{"id":"2b99b6608ca640b8","type":"switch","z":"7e39575526b28643","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"brightness_up_hold","vt":"str"},{"t":"eq","v":"brightness_down_hold","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":490,"y":1400,"wires":[["a6de3578e0abaf65"],[]]},{"id":"a6de3578e0abaf65","type":"api-current-state","z":"7e39575526b28643","name":"","server":"d2502322.8d81e","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.kitchen_lights","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":760,"y":1480,"wires":[["9f5dd2025b8de16a","ffce21c4aaa4b04b"]]},{"id":"4325c2e7804969eb","type":"debug","z":"7e39575526b28643","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1030,"y":1640,"wires":[]},{"id":"9f5dd2025b8de16a","type":"function","z":"7e39575526b28643","name":"return current brightness + 10","func":"var brightness = msg.data.attributes.brightness;\n\nmsg.payload = brightness;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1110,"y":1560,"wires":[["4325c2e7804969eb"]]},{"id":"ffce21c4aaa4b04b","type":"debug","z":"7e39575526b28643","name":"","active":false,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"data.attributes.brightness","statusType":"msg","x":1030,"y":1720,"wires":[]},{"id":"b32ba367284265bc","type":"api-call-service","z":"7e39575526b28643","name":"toggle","server":"d2502322.8d81e","version":5,"debugenabled":false,"domain":"light","service":"toggle","areaId":[],"deviceId":["0cb1f28323f23c3a81c01854adede6bf"],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":950,"y":1300,"wires":[[]]},{"id":"59ac448e26b1eca8","type":"inject","z":"7e39575526b28643","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"on","payloadType":"str","x":210,"y":400,"wires":[["df6b83ef3b5685a8"]]},{"id":"c8798a0b4dc53cf5","type":"controltimer","z":"7e39575526b28643","name":"","timerType":"delay","timerDurationUnit":"second","timerDurationType":"num","timerDuration":180,"timerLoopTimeoutUnit":"second","timerLoopTimeoutType":"num","timerLoopTimeout":0,"loopTimeoutMessageType":"str","loopTimeoutMessage":"LOOP_TIMEOUT","timerMaxLoopIterationsType":"num","timerMaxLoopIterations":0,"loopMaxIterationsMessageType":"str","loopMaxIterationsMessage":"MAX_LOOP_ITERATIONS","isConsecutiveStartActionTimerResetAllowed":false,"isRunningTimerProgressVisible":true,"outputReceivedMessageOnTimerTrigger":true,"outputReceivedMessageOnTimerHalt":true,"startTimerOnReceivalOfUnknownMessage":false,"resetTimerOnReceivalOfUnknownMessage":false,"isDebugModeEnabled":false,"timerTriggeredMessageType":"str","timerTriggeredMessage":"TIMER_TRIGGERED","timerHaltedMessageType":"str","timerHaltedMessage":"TIMER_HALTED","isStartActionEnabled":true,"isStopActionEnabled":true,"isResetActionEnabled":true,"isPauseActionEnabled":true,"isContinueActionEnabled":true,"actionPropertyNameType":"str","actionPropertyName":"payload","startActionNameType":"str","startActionName":"START","stopActionNameType":"str","stopActionName":"STOP","resetActionNameType":"str","resetActionName":"RESET","pauseActionNameType":"str","pauseActionName":"PAUSE","continueActionNameType":"str","continueActionName":"CONTINUE","x":930,"y":420,"wires":[["b1f39832475dd66f","9c1c1c8edf0988dd"],[]]},{"id":"a87d8805196936fc","type":"debug","z":"7e39575526b28643","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1410,"y":360,"wires":[]},{"id":"b1f39832475dd66f","type":"debug","z":"7e39575526b28643","name":"debug 2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":920,"y":600,"wires":[]},{"id":"8913a9dddef2fcc8","type":"change","z":"7e39575526b28643","name":"Start Timer change payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"START","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":420,"wires":[["c8798a0b4dc53cf5"]]},{"id":"786a23dcea2334a2","type":"inject","z":"7e39575526b28643","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"off","payloadType":"str","x":210,"y":440,"wires":[["df6b83ef3b5685a8"]]},{"id":"b8b3a7d63ac36fa7","type":"debug","z":"7e39575526b28643","name":"debug 3","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1280,"y":240,"wires":[]},{"id":"9c1c1c8edf0988dd","type":"change","z":"7e39575526b28643","name":"End Timer change payload","rules":[{"t":"set","p":"payload","pt":"msg","to":"off","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1100,"y":520,"wires":[["b4e5e2a3b55a0cd8"]]},{"id":"214c3539482e55b3","type":"debug","z":"7e39575526b28643","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"data.attributes.brightness","statusType":"msg","x":770,"y":1760,"wires":[]},{"id":"a8fb307613128885","type":"switch","z":"7e39575526b28643","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":490,"y":1840,"wires":[["7e24f57bc8c61314"],["fe6756a8b59b57a5"]]},{"id":"7e24f57bc8c61314","type":"api-call-service","z":"7e39575526b28643","name":"Turn off bedroom","server":"d2502322.8d81e","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_off","areaId":[],"deviceId":["2b397236d67657855441fe18faebfc8a"],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":690,"y":1840,"wires":[[]]},{"id":"fe6756a8b59b57a5","type":"api-call-service","z":"7e39575526b28643","name":"Turn on bedroom","server":"d2502322.8d81e","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_on","areaId":[],"deviceId":["2b397236d67657855441fe18faebfc8a"],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":690,"y":1900,"wires":[[]]},{"id":"476c3a253df7b90e","type":"api-call-service","z":"3ba5efed4e5a0f31","name":"Turn lights on/off","server":"d2502322.8d81e","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_{{payload}}","areaId":[],"deviceId":["f6ea573120cf7c6967712c210c060b61"],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":150,"y":100,"wires":[[]]}]